.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/
dist/
*.log
.env
*.env
data/
*.csv
*.conda
*.venv/
*.virtualenv/
env/
venv/
.jupyter/
.anaconda/
ipython/
*.bak
*.tmp
*.swp
.virtual_documents/
anaconda_projects/